<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RIFF</key>
	<string>WaveExplorerChunk</string>
	<key>data</key>
	<string>WaveExplorerDataChunk</string>
	<key>fmt </key>
	<string>WaveExplorerFmtChunk</string>
	<key>LIST</key>
	<string>WaveExplorerListInfoChunk</string>
	<key>ICMS</key>
	<string>WaveExplorerStringChunk</string>
	<key>IART</key>
	<string>WaveExplorerStringChunk</string>
	<key>ICOP</key>
	<string>WaveExplorerStringChunk</string>
	<key>IENG</key>
	<string>WaveExplorerStringChunk</string>
	<key>IKEY</key>
	<string>WaveExplorerStringChunk</string>
	<key>INAM</key>
	<string>WaveExplorerStringChunk</string>
	<key>ISRC</key>
	<string>WaveExplorerStringChunk</string>
</dict>
</plist>
